<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="myschemaEntities" connectionString="metadata=res://*/DBManagerMDIModel.csdl|res://*/DBManagerMDIModel.ssdl|res://*/DBManagerMDIModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;Persist Security Info=True;database=myschema&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>